*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    margin: 0px;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
nav ul {
    padding: 0px;
    margin: 0;
    list-style: none;
    position: relative;
    float: center;
    color: #000000;
}
nav ul li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    display: block;
    color: #000000;
    opacity: 50%;
    font-size: 20px;
}
.active {
    opacity: 80%;
}
button{
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #18A0FB;
    margin: 2px;
    background-color: #ffff;
    font-size: 15px;
}
button:hover{
    cursor: pointer;
}
.but2{
    background: #18A0FB;
    color: #ffff;
}
.but1{
    color: #18A0FB;
}
header{
    background-image: url(./images/header.png);
    height: 900px;
    width: 100%;
}
.thebio{
    font-size: 15px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffff;
}
.para{
    padding: 400px;
}
.types1{
    width: 640px;
    height: 800px;
    margin: 6px;
}
.types2 {
    width: 800px;
    height: 600px;
    border: 1px solid #000000;
    margin: 6px;
}
section {
    display: flex;
    width: 100%;
    height: 962px;
}
.types2 img {
    width: 600px;
}
.types1 h1{
    font-size: 48px;
    margin: 1px;
    padding: 2px;
    width: 750px;
    height: 72px;
}
.types1 p {
    font-size: 36px;
    color: #000000;
    opacity: 80%;
    width: 750px;
    height: 150px;
}
.classimage{
    width: 687px;
    height: 212px;
}
.img1{
    margin: 15px;
}
.img2{
    margin: 15px;
}
.img3{
    margin: 15px;
}
.img4{
    margin: 15px;
}
.img5{
    margin: 15px;
}
.img6{
    margin: 15px;
}
.types2 h2{
    font-size: 24px bold;
    width: 558px;
    height: 36px;
    padding: 10px;
    margin: 15px;
    color: #000000;
    opacity: 100%;
}
.types2 p{
    width: 558px;
    height: 120px;
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    color: #000000;
    opacity: 100%;
}
.container{
    border: 1px solid #000000;
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #D4D4D4;
}
.container1{
    width: 686px;
    height: 80px;
    border: 1px solid #000000;
}
.container2{
    width: 750px;
    height: 440px;
    border: 1px solid #000000;
    padding: 10px;
}