*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    margin: 0px;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
nav ul {
    padding: 0px;
    margin: 0;
    list-style: none;
    position: relative;
    float: center;
    color: #000000;
}
nav ul li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    display: block;
    color: #000000;
    opacity: 50%;
    font-size: 20px;
}
.active {
    opacity: 80%;
}
button{
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #18A0FB;
    margin: 2px;
    background-color: #ffff;
    font-size: 15px;
}
.but2{
    background: #18A0FB;
    color: #ffff;
}
.but1{
    color: #18A0FB;
}
header{
    background-image: url(./images/header.png);
    height: 1022px;
    width: 100%;
}
.thebio{
    font-size: 15px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffff;
}
.para{
    padding: 400px;
}
.types1{
    width: 600px;
    height: 700px;
    border: 1px solid #000000;
    margin: 6px;
}
.types2 {
    width: 600px;
    height: 700px;
    border: 1px solid #000000;
    margin: 6px;
}
section {
    display: flex;
    width: 100%;
}
.types2 img {
    width: 600px;
}
.types1 h1{
    font-size: 48px;
    margin: 1px;
    padding: 2px;
}