*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
.container1 h1{
    font-size: 40px;
    text-align: center;
}
.text1{
    font-size: 30px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
form{
    border: 1px solid black;
    height: 500px;
    width: 800px;
    margin-left: 23%;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
form input{
    width: 300px;
    padding: 15px;
    margin: 10px; 
}
form input[type="email"]{
    width: 650px;
}
form input[type="password"]{
    width: 650px;
}
form input[type="submit"]{
    width: 150px;
    border-radius: 8px;
    background-color: #18A0FB;
    color: #ffff;
    border: 1px solid #18A0FB;
    float: left;
    margin: 55px;
    margin-top: 10px;
}
form input[type="submit"]:hover{
    cursor: pointer;
}
form h2{
    font-size: 30px;
    padding-bottom: 30px;
    margin-left: -440px;
}
section h1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
section .connexion {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}